<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
{#        <link rel="manifest" href="{{ asset('manifest.json') }}">#}
        <link rel="apple-touch-icon" href="{{ asset('images/icons/icon-72x72.png') }}" sizes="72x72">
        <link rel="apple-touch-icon" href="{{ asset('images/icons/icon-96x96.png') }}" sizes="96x96">
        <link rel="apple-touch-icon" href="{{ asset('images/icons/icon-128x128.png') }}" sizes="128x128">
        <link rel="apple-touch-icon" href="{{ asset('images/icons/icon-144x144.png') }}" sizes="144x144">
        <link rel="apple-touch-icon" href="{{ asset('images/icons/icon-152x152.png') }}" sizes="152x152">
        <link rel="apple-touch-icon" href="{{ asset('images/icons/icon-192x192.png') }}" sizes="192x192">
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
        <meta name="msapplication-TileImage" content="{{ asset('images/icons/icon-144x144.png') }}">
        <meta name="msapplication-TileColor" content="#fff">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
